.wrapper {
	min-width: 54.5rem;
}

.search {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	.button {
		min-width: 8rem;
	}

	.inputField {
		padding: "0.3rem";
		width: "100%";
		border-radius: "0.3rem";
		flex-grow: 1;
	}
}
