@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  font-size: 13px;
  background-color: #252525;
  color: white;
}

body {
  margin: 0;
  padding: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
}

*, *::after, *::before {
  /* margin: 0;
  padding: 0; */
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.component {
  padding: 2rem;
  border: 1px dashed gray;
  border-radius: 0.5rem;  
  background-color: #ffffff1c;
}

.hide {
  display: none
}